

.header-logo {
  font-size: 45px;
 
 }

table {
  width: 95%;
  margin: 5px 5px;
   
}

table,th,td{
  border: solid 1px #aaaaaa;
  border-collapse: collapse;
  font-size: 13px;
  empty-cells: hide;

 }
 
th {
  background-color: rgb(224, 224, 224);
   
}

.empty {
  visibility: hidden;

}