
.header-logo {
  font-size: 45px;
  text-decoration: none;
 
 }

.table-price {
  width: 95%;
  margin: 5px 5px;
   
}

.table-price,.th-price,.td-price{
  border: solid 1px #aaaaaa;
  border-collapse: collapse;
  font-size: 13px;
  empty-cells: hide;

 }
 
.th-price {
  background-color: rgb(224, 224, 224);
   
}

.empty-price {
  visibility: hidden;

}

.content {
  width: 400px;
  overflow: hidden;
}

.table-date,.th-date,.td-date {
  border: solid 1px #d8d8d8;
  border-collapse: collapse;
  padding: 5px;

}

.th-date {
  border-bottom: solid 2px #d8d8d8;
  background-color: rgb(227, 240, 255);

}

.start {
  border-bottom: solid 2.5px #d8d8d8;
  border-right: solid 2.5px #d8d8d8;

}

.time {
  border-right: solid 2.5px #d8d8d8;

}

